@font-face {
    font-family: 'CharisK';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/cb.eot');
    src: url('../fonts/cb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cb.woff2') format('woff2'),
         url('../fonts/cb.ttf') format('truetype'),
         url('../fonts/cb.svg#charis_silbold') format('svg');
}
@font-face {
    font-family: 'CharisK';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/cbi.eot');
    src: url('../fonts/cbi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cbi.woff2') format('woff2'),
         url('../fonts/cbi.ttf') format('truetype'),
         url('../fonts/cbi.svg#charis_silbold_italic') format('svg');
}
@font-face {
    font-family: 'CharisK';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/ci.eot');
    src: url('../fonts/ci.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ci.woff2') format('woff2'),
         url('../fonts/ci.ttf') format('truetype'),
         url('../fonts/ci.svg#charis_silitalic') format('svg');
}
@font-face {
    font-family: 'CharisK';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/c.eot');
    src: url('../fonts/c.eot?#iefix') format('embedded-opentype'),
         url('../fonts/c.woff2') format('woff2'),
         url('../fonts/c.ttf') format('truetype'),
         url('../fonts/c.svg#charis_silregular') format('svg');
}
