{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
        <article class="article article-type-post" itemscope itemprop="blogPost">
            {{ $Site := .Site }}
            <div class="article-inner">
                {{ if .Title }}
                <header class="article-header">
                    <h1 itemprop="name"><a class="article-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                </header>
                {{ end }}
                <div class="article-meta">
                  <a class="article-date" href="{{ .RelPermalink }}">
                    <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                  </a>
                </div>
                <div class="article-entry" itemprop="articleBody">
                    <p>
                        {{ if .Params.featuredImage }}<img src="{{.Params.featuredImage}}"><br>{{ end }}
                    {{ .Summary }}
                    </p>
                    <p class="article-more-link">
                        <a href="{{ .RelPermalink }}">Read More</a>
                    </p>
                </div>

                {{ if .Params.tags }}
                <footer class="article-footer">
                    <ul class="article-tag-list">
                        {{ range .Params.tags }}
                        <li class="article-tag-list-item">
                            <a class="article-tag-list-link" href="{{ $Site.BaseURL}}/tags/{{ . | urlize }}">{{ . }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </footer>
                {{ end }}
            </div>
        </article>
        {{ end }}

        {{ if gt $paginator.TotalPages 1 }}
        <nav id="page-nav">
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" rel="prev" class="extend prev">&laquo; Prev</a>
            {{ end }}
            {{ range $paginator.Pagers }}
            {{ if eq . $paginator }}
            <span class="page-number current">{{ $paginator.PageNumber }}</span>
            {{ else }}
            <a href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
            {{ end }}

            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" rel="next" class="extend next">Next &raquo;</a>
            {{ end }}
        </nav>
        {{ end }}
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
