{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.tags }}
          #<a href="/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    </div>
    <article>
      {{ .Content }}
    </article>
  </main>
  <nav class="pagination-single">
    {{ with .NextInSection }}
      <span class="previous">&larr; <a href="{{ .Permalink }}/" rel="prev">{{ .Title }}</a></span>
    {{ end }}
    {{ with .PrevInSection }}
      <span class="next"><a href="{{ .Permalink }}/" rel="next">{{ .Title }}</a> &rarr;</span>
    {{ end }}
  </nav>

{{ partial "footer.html" . }}
