/* fira-mono-regular - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fm.eot'); /* IE9 Compat Modes */
  src: local('Fira Mono'), local('FiraMono'),
       url('../fonts/fm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fm.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fm.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fm.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fm.svg#FiraMono') format('svg'); /* Legacy iOS */
}
/* fira-mono-700 - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fmb.eot'); /* IE9 Compat Modes */
  src: local('Fira Mono Bold'), local('FiraMono-Bold'),
       url('../fonts/fmb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fmb.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fmb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fmb.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fmb.svg#FiraMono') format('svg'); /* Legacy iOS */
     }
